


#Yes{

    background-color: gray;
 color: black;
 font-size: 25px;
 padding: 5px;
 margin-left: 100px;
}
#No{
    background-color: gray;
 color: black;
 font-size: 25px;
 padding: 5px;

}